* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;

  body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    flex-wrap: wrap;

    h1 {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 70em;
    }

    .PerPage {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      input[type="number"] {
        -moz-appearance: textfield;
        color: #000;
        border: none;
        background: transparent;
        text-align: center;
        font-size: 36px;
      }

      button {
        cursor: pointer;
        background: transparent;
        border: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 36px;
      }
    }

    section.Posts {
      width: 100vw;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      overflow-x: hidden;
      flex-wrap: wrap;

      section.Post {
        width: 250px;
        margin: 10px;

        h5 {
          font-size: 0.9em;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .cover {
          width: 100%;
        }

        .background {
          width: 100%;
        }

        .flag {
          width: 20px;
          height: 20px;
        }
      }
    }

    nav {
      margin: 36px 0;
      ul {
        display: flex;

        li {
          list-style: none;
          margin: 5px;
        }
      }
    }
  }
}